<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Data int elligence</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/mdb.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

</head>

<body>

    <!--Navbar-->
    <nav class="navbar navbar-toggleable-md navbar-dark scrolling-navbar">
        <div class="container" style="width: 100%;">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapseEx2" aria-controls="collapseEx2" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="data-intelligence.html">
                <img src="static/img/gears.gif" class="gears">
                <img src="static/img/logo.png">
                <a href="/"><h3>Data Intelligence</h3></a>
            </a>
        </div>
    </nav>
    <!--/.Navbar-->

          <div class="int-landing">
              <div class="int-intro1 container">
                <h1>Artificial Intelligence Toolkit for Automation</h1>
                <h4>A complete toolkit for intelligent automation using AI for different industries.</h4>

                <br>
                <h3>Team: data int elligence;</h3>
                <br>


                <h4>Industry : Insurance</h4>
                <p>Areas that can be impacted (Use Cases): <br>
                    <br>
                    <b>Use-Case 1: Demystifying the untouched data in Insurance (Property Interior)</b><br>
                    <b>Why:</b> Most valueable data for Insurance Companies is property interior, 
                    there is a need to unearth the image context (objects and actions).<br>
                    <b>Possibilites</b> <br>
                        - Understand the properties at risk<br>
                        - Quote accurate price quotes<br>
                        - Dig deeper into the data and insights<br>

                    <br><br>

                    <b>Use-Case 2. Automated, Quick, Risk and Model Driven Dynamic Price Quoting</b> <br>
                    <b>Why:</b> Current price quoting is a tedious and lengthy process. Exploits static data to quote the prices, without measuring risk. <br>
                    <b>Possibilites</b> <br>
                        - Accurate Price Quoting<br>
                        - Dynamic Quessionare according to response and risk<br>
                        - Fast Methods to take decisions<br>

                    <br><br>

                    <b>Use-Case 3.</b> Assistant to analyse datasets <br>
                    <b>Why:</b> CXOs often need quick insights from different datasets, have to reach out to different people for such purpose<br>
                    <b>Possibilites</b> <br>
                        - Friendly Insights Generation from datasets<br>
                        - Visualization templates to quickly gather and visualize data<br>


                    

                </p>



                <a href="/components" class="btn btn-primary">Discover</a>
          </div>
        </div>

    <script type="text/javascript" src="static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="static/js/tether.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/mdb.min.js"></script>

    <script>
    $(document).scroll(function(){
        $('.navbar').fixed-top({
              offset: {
                top: $('header').height()
              }
        });
      });
    </script>

</body>
</html>
